<section id="store">

    <section id="header">

    </section>
    <section id="landing" class="px-8 mt-8 flex flex-col items-center justify-center w-full h-80vh lg:px-16">
        <div class="w-full h-full relative" data-aos="fade-left">
            <img src="https://images.unsplash.com/photo-1616124619460-ff4ed8f4683c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1543&q=80" alt="">

            <div class="absolute absolute-center w-10/12 text-center text-white flex flex-col z-20 md:w-8/12 md:text-left lg:w-1/2">
                <h2 class="xl:text-5xl">SHOP NEW JERSEYS FOR THE UPCOMING SEASON</h2>

                <router-link to="/store/main">
                    <button  class="px-4 py-3 mt-4 text-center text-white font-inter font-bold text-lg bg-dark-grey md:w-48">
                        SHOP JERSEYS
                    </button>
                </router-link>
            </div>
        </div>
    </section>

    <section id="product1" data-aos="fade-right" class="px-8 mt-10 mb-8 flex flex-col items-center justify-center w-full h-48 lg:px-16">
        <div class="w-full h-full relative">
            <img src="https://images.unsplash.com/photo-1612387050703-685c779375d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1534&q=80" alt="">

            <div class="absolute absolute-center w-10/12 text-left text-white flex flex-col z-20">
                <h2>JERSEYS</h2>
                <p>Stand out in your favourite teams jerseys and sportswear</p>
            </div>
        </div>
    </section>

</section>