<section id="store-main">
  <section id="landing" class="px-7 flex flex-col w-full min-h-70vh md:px-16">
    <div
      class="products my-8 flex flex-wrap whitespace-nowrap justify-between md:justify-start md:gap-x-9 lg:gap-x-10"
    >
      <div
        data-aos="fade-up"
        v-for="product in products"
        :key="product.id"
        @click="goToProduct(product.id)"
        class="product group flex flex-col space-y-4 mb-4 w-48% md:cursor-pointer md:w-30% lg:mb-6 lg:w-22%"
      >
        <div class="w-full h-56 md:h-72 lg:h-96 relative">
          <div
            class="absolute right-2 top-2 text-sm px-3 py-2 bg-dark-grey text-white md:px-3"
            v-if="product.discountPercentage > 0"
          >
            {{product.discountPercentage}}% OFF
          </div>
          <img :src="product.photo" alt="" />
        </div>
        <div class="flex flex-col space-y-1">
          <p
            class="text-md font-inter w-auto overflow-ellipsis overflow-hidden md:text-lg lg:text-xl"
          >
            {{ product.name }}
          </p>
          <p
            class="text-sm font-inter w-auto uppercase overflow-ellipsis overflow-hidden md:text-md lg:text-md"
          >
            {{ product.type || 'Jersey' }}
          </p>
          <div class="flex flex-col">
            <money
              class="font-inter inline-block font-bold text-dark-grey md:text-lg bg-transparent"
              disabled
              :value="product.discountedPrice"
            />
            <money
              v-if="product.discountPercentage"
              class="font-inter text-gray-500 inline-block font-bold line-through md:text-sm bg-transparent"
              disabled
              :value="product.price"
            />
          </div>
          <div class="flex"></div>
        </div>
      </div>
    </div>
  </section>
</section>
