.absolute-center {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

@media screen and (min-width: 768px) {
    .absolute-center {
        top: 80%;
        left: 20%;
        transform: translate(-20%, -80%);
    }
}


@media screen and (min-width: 1024px) {
    .absolute-center {
        top: 60%;
        left: 10%;
        transform: translate(-10%, -60%);
    }
}
