// $summer-sky-blue: #25aae1;
// $bright-grey: #eaeaea;
// $light-grey: #d0d0d0;
// $ashy-grey: #525d61;
// $cinder-grey: #25262d;
// $black: #000000;
// $white: #ffffff;
// $pomegranate-red: #ef2121;
// $green: #0ccd09;
// $bright-orange: #ffce50;

$green: #D3EEBF;
$deep-green: #56AD38;
$dark-grey: #0B0D17;
$turquoise: #2EC5CE;
//System Colors
// $error: ;
// $success: ;
// $warning: ;

//App Colors
// $primary: ;
$secondary: $green;
$tertiary: $turquoise;
$background-primary: $dark-grey;


.text-secondary {
    color: $secondary;
}

.bg-secondary {
    background-color: $secondary;
}

.text-tertiary {
    color: $tertiary;
}

.bg-tertiary {
    background-color: $tertiary;
}

.text-dark-grey {
    color: $dark-grey;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.text-deep-green {
    color: $deep-green;
}

.bg-deep-green {
    background-color: $deep-green;
}