<div>
    <div class="navigation px-8 py-4 flex items-center justify-between md:justify-start">
        <router-link to="/" class="logo w-20 mr-4 cursor-pointer">
            <!-- <h1 class="font-extrabold text-3xl">HOKF</h1> -->
            <img class="object-cover" src="../../assets/logo.jpg" alt="HOKF Logo">
        </router-link>
        <div class="hidden md:flex md:space-x-6">
            <router-link to="/about">
                <p class="font-inter">About</p>
            </router-link>
            <router-link to="/services">
                <p class="font-inter">Services</p>
            </router-link>
            <router-link to="/about#contact-us">
                <p class="font-inter">Contact Us</p>
            </router-link>
        </div>
        <icon icon="akar-icons:three-line-horizontal" class="cursor-pointer md:hidden" height="32" width="32" />
    </div>
</div>