#landing {
    background-image: url("https://images.unsplash.com/photo-1502014822147-1aedfb0676e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80");
}

.custom-radio {
    position: relative;
    padding-left: 35px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked ~ .radio {
            background-color: #56AD38;
        }

        &:checked ~ p {
            font-weight: bold;
        }

        &:checked ~ .radio:after {
            display: block;
        }
    }

    .radio {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;

        &::after {
            content: "✓";
            position: absolute;
            display: none;
            color: white;
            font-size: 15px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
            border-radius: 50%;
        }
    }

    &:hover {
        input ~ .radio {
            background-color: #ccc;
        }
    }
}
