html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    &::-webkit-scrollbar {
        width: 8px;
    }

    // &::-webkit-scrollbar-track {
    //     background: $grey;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: $cyan;
    // }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

input, textarea, select, option {
    outline: none;
}

select, option {
    all: unset
}

button {
    all: unset;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;

    &:visited {
        color: unset;
    }
}